{% extends "index.html" %}
{% block title %}Categories{% endblock %}
{% block content %}
{% for category in categories %}
<br>
<h2 class = "text-center" style="margin-top:20px;"><strong>{{category[1]}}</strong></h2>
{% for product in products %}
{% if category[0] == product[0] %}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-sm text-center">
            <img class="img-responsive" src=" " alt="prewiew" width="120" height="70">
        </div>
        <div class="col-6 col-md-4 text-center">
            <h4 style="margin-top:20px;"><a style="text-decoration: none;" href=" "><strong>{{product[1]}}</strong></a></h4>
        </div>
        <div class="col-sm text-center">
            <h4 style="margin-top:20px;">{{product[2]}}</h4>
        </div>
        <div class="col-sm text-center" style="margin-top:10px;">
            <button type="button" class="btn btn-success btn-lg"></i>Buy <i class='fas fa-cart-arrow-down'></i></button>
        </div>
        <div class="col-sm text-center" style="margin-top:10px;">
            <button type="button" class="btn btn-success btn-lg">Add to cart <i class='fas fa-cart-plus'></i></button>
        </div>
    </div>
{% endif %}
{% endfor %}
{% endfor %}
<h2 class = "text-center" style="margin-top:20px;"><strong>Without category</strong></h2>
{% for product in products %}
{% if not product[0] %}
    <div class="row mt-3">
        <div class="col-sm text-center">
            <h4 style="margin-top:20px;">{{product[4]}}</h4>
        </div>
        <div class="col-sm text-center">
            <img class="img-responsive" src="" alt="prewiew" width="120" height="70">
        </div>
        <div class="col-6 col-md-4 text-center">
            <h4 style="margin-top:20px;"><a style="text-decoration: none;" href=" "><strong>{{product[1]}}</strong></a></h4>
        </div>
        <div class="col-sm text-center">
            <h4 style="margin-top:20px;">{{product[2]}}</h4>
        </div>
        <div class="col-sm text-center" style="margin-top:10px;">
            <button type="button" class="btn btn-success btn-lg">Buy<i class='fas fa-cart-arrow-down'></i></button>
        </div>
        <div class="col-sm text-center" style="margin-top:10px;">
            <button type="button" class="btn btn-success btn-lg">Add to cart <i class='fas fa-cart-plus'></i></button>
        </div>
    </div>
{% endif %}
{% endfor %}
</div>
{% endblock %}