{% extends "index_admin.html" %}
{% block title %}Delete category {% endblock %}
{% block content %}
<div class="container text-center" >
    <p><h4 style="margin-top:20px;">Do you want to remove category: '{{category}}' ????</h4></p>
    <form action="{{url_for('delete_category', category_id=category_id)}}" method="post">
    <input type="submit" value="Delete" class="btn-sm btn-danger">
    </form>
    <p> </p>
    <button class="btn-sm btn-danger"><a style="text-decoration: none;" href="/admin/delete_category">Go back</a></button>
</div>
{% endblock %}