{% extends "index_admin.html" %}
{% block title %}Delete category{% endblock %}
{% block content %}
<div class="container">
    <table class="table table-striped w-auto table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>Category name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for category in all_categories %}
            <tr>
                <td>{{category[0]}}</td>
                <td>{{category[1]}}</td>
                <td>
                    <form action="{{url_for('delete_category', category_id=category[0])}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn-sm btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}