{% extends "index_admin.html" %}
{% block title %}Delete category{% endblock %}
{% block content %}
<div class="container ">
    {% for message in get_flashed_messages() %}
      <p class="alert alert-warning">{{ message }}</p>
    {% endfor %}
<form action="" method="post">
<div class="input-group my-3">
    <select class="form-control" name="category" required>
        {% if not category_id %}
            <option disabled selected>Choose category to rename</option>
        {% else %}
            <option disabled>Choose category to rename</option>
        {% endif %}

        {% for category in all_categories %}
            {% if category[0] == category_id %}
        <option selected value="{{ category[0] }}">{{ category[1] }}</option>
            {% else %}
        <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endif %}

        {% endfor %}
    </select>

    <input type="text" class="form-control" id="category_input" name="new_name" value="{{ new_name }}" placeholder="Category new name" required>

</div>
<input type="submit" value="SAVE CHANGES" class="btn-sm btn-danger btn-block">
</form>
</div>
{% endblock %}