{% extends "bootstrap/base.html" %}
{% block title %}Welcome to MA SHOP{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container">
    <a class="navbar-brand" href="#" >
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/admin/add_category">Add category</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/add_product">Add product</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin">Add news</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">
    {% for message in get_flashed_messages() %}
      <p class="badge badge-success">{{ message }}</p>
    {% endfor %}
    </div>
    <!-- /.container -->
    <div class="img-container">
        <img src="https://djfgy1h8qi1y7.cloudfront.net/fit-in/1920x760/2058885d63644432ad0a80ef5045ab98.jpg"
             width=100% alt="Mates" class="center">
    </div>
{% endblock %}
