{% extends "index_admin.html" %}
{% block title %}All products{% endblock %}
{% block content %}

    {% for message in get_flashed_messages() %}
      <p class="alert alert-warning">{{ message }}</p>
    {% endfor %}

<div class="container">
    <table class="table table-striped w-auto table-bordered">
        <thead>
        <tr>
            <th>Category id</th>
            <th>Category name</th>
            <th>Product id</th>
            <th>Product name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for product in all_products %}
            <tr>
                <td>{{product[4]}}</td>
                <td>{{product[5]}}</td>
                <td>{{product[0]}}</td>
                <td>{{product[1]}}</td>
                <td>{{product[2]}}</td>
                <td class="text-center">
                <img class="img-responsive" src="/image/{{product[0]}}" alt="prewiew" width="120" height="70">
                </td>
                <td>
                    <a href="{{ url_for('edit_product', product_id=product[0]) }}"><button>Edit</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}