{% extends "index_admin.html" %}
{% block title %}All products{% endblock %}
{% block content %}
<div class="container">
    <table class="table table-striped w-auto table-bordered">
        <thead>
        <tr>
            <th>Product id</th>
            <th>Product name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for product in all_products %}
            <tr>
                <td>{{product[0]}}</td>
                <td>{{product[1]}}</td>
                <td>{{product[2]}}</td>
                <td>
                    Image
                </td>
                <td>
                    <a href="{{ url_for('edit_product', product_id=product[0]) }}"><button>Edit</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}