{% extends 'index.html' %}
{% block title %} {{data[0][1]}} {% endblock %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {% for message in messages %}
    {% if message == "Your mark has been added successfully" %}
    <div class="container">
        <span class="badge badge-pill badge-success">{{message}}</span>
    </div>
    {% elif message == "Mark should be between 1 and 5"%}
    <div class="container">
        <span class="badge badge-pill badge-danger">{{message}}</span>
    </div>
    {%else%}
    <div class="container">
        <span class="badge badge-pill badge-primary">{{message}}</span>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
        <br>
        <h2>{{data[1]}}</h2><br>
        <h4>Product mark:
            <span class="badge badge-primary">{{ avg_mark }}</span>
        </h4>
        <img class="img-responsive" src="/image/{{data[0]}}" alt="{{data[1]}}" width="480" height="280">
        <h2>Price: {{data[2]}}₴</h2>

        <form action="" method="POST">
            <textarea name="comment" value="{{ comment }}" placeholder="Type your comment here"></textarea>
            <div class="container">
                <input type="submit" name="submit_comment" value="Send">
            </div>
        </form>

        <!--MARKS-->

        <div class="btn-group">
            <form method="post" action="{{ url_for('set_product_mark', product_id=data[0])}}">
                <label>
                    <input name="mark" type="text" min="1" max="5" maxlength="25" placeholder="mark">
                </label>
                <button type="submit" class="btn btn-danger">Submit</button>
            </form>
        </div>
        <!--END MARKS-->
    </div>
        <!-- ADD TO CART-->
    {% if "user_id" in session %}
        <div class="col-sm text-center" style="margin-top:10px;">
            <form method="post" action="{{ url_for('add_to_cart', product_id=data[0]) }}">
                <input type="hidden" name="add_to_cart">
                <button type="submit" class="btn btn-success btn-lg" style="float:left">Add to cart <i class='fas fa-cart-plus'></i></button>
            </form>
        </div>
    {% else %}
        <div class="col-sm text-center" style="margin-top:10px;">
            <h4><b><i>Please <a href="/login">log in</a> to make orders</i></b></h4>
        </div>
    {% endif %}
        <!-- END ADD TO CART-->
    <!-- ADD COMMENT_LIST-->
    <div class="col-sm text-center" style="margin-top:10px;">
            <form method="post" action="{{ url_for('comments_list', product_id=data[0]) }}">
                <button type="submit" class="btn btn-success btn-lg" style="float:left">All comments <i class='fas fa-cart-plus'></i></button>
            </form>
    </div>
    <!-- END COMMENT_LIST-->
</div>
{% endblock %}