{% extends "index.html" %}
{% block title %}Comment{% endblock %}
{% block navbar %}
<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
</ul>
{% endblock %}
{% block content %}
<h3>Leave your comment</h3>
<form action="" method="POST">
    <div>
        <textarea name="comment" cols="100" rows="10" placeholder="Type your comment here"></textarea>
    </div>
    <div>
        <input type="submit" name="submit_comment" value="Send">
    </div>
</form>
{% endblock %}
