{% extends "index.html" %}
{% block title %}Product name page{% endblock %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<div class="container">
    <div class="row mt-3">
        <div class="col-sm-auto text-center">
            <h5 style="margin-top:20px;">1</h5>
        </div>
        <div class="col-sm text-center">
                    <img class="img-responsive" src="https://consumer-img.huawei.com/content/dam/huawei-cbg-site/common/campaign/matebook-series/img/Huawei-MateBook-Series-ipad.png" alt="prewiew" width="120" height="70">
        </div>
        <div class="col-6 col-md-4 text-center">
            <h4 style="margin-top:20px;"><a style="text-decoration: none;" href=" "><strong>HUAWEI MateBook 13</strong></a></h4>
        </div>
        <div class="col-sm text-center">
            <h4 style="margin-top:20px;">25₴</h4>
        </div>
        <div class="col-sm text-center" style="margin-top:10px;">
            <button type="button" class="btn btn-success btn-lg"></i>Buy <i class='fas fa-cart-arrow-down'></i></button>
        </div>
        <div class="col-sm text-center" style="margin-top:10px;">
            <form action="/cart" method="get">
                <button type="submit" class="btn btn-success btn-lg">Add to cart <i class='fas fa-cart-plus'></i></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}