{% extends "index.html" %}
{% block content %}
<div class="container">
<p class="alert alert-warning">{{ message }}</p>
<h1 class="m-5">Registration</h1>
<form method="post">
  <div class="form-group">
    <label for="first_name">First name</label>
    <input required type="text" class="form-control" id="first_name_input" name="first_name" value="{{ first_name }}" placeholder="John">
  </div>
    <div class="form-group">
        <label for="second_name">Second name</label>
        <input required type="text" class="form-control" id="second_name_input" name="second_name" value="{{ second_name }}" placeholder="Smith">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input required type="email" class="form-control" id="email_input" name="email" value="{{ email }}" placeholder="JohnSmith@mail.com">
    </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input required type="password" class="form-control" id="eInputPassword" name="password" value="" placeholder="Some password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}