{% extends "index_admin.html" %}
{% block content %}
<div class="container">
    {% if message %}
    <p class="alert alert-warning">{{ message }}</p>
    {% endif %}
<h1 class="m-5">Add product</h1>
<form method="POST" enctype="multipart/form-data">
{{ form.csrf_token }}
  <div class="form-group">
    {{ form.name.label }}
    {{ form.name(class="form-control", placeholder="Toilet paper") }}
    {% for error in form.name.errors %}
    <small style="color: red">{{ error }}</small>
    {% endfor %}
  </div>
  <div class="form-group">
    {{ form.description.label }}
    {{ form.description(class="form-control", placeholder="Some description here") }}
    {% for error in form.description.errors %}
    <small style="color: red">{{ error }}</small>
    {% endfor %}
  </div>
  <div class="form-group">
    {{ form.price.label }}
    {{ form.price(class="form-control", placeholder="777.77") }}
    {% for error in form.price.errors %}
    <small style="color: red">{{ error }}</small>
    {% endfor %}
  </div>
  <div class="form-group mb-3">
    {{ form.category_id.label }}
    {{ form.category_id(class="form-control") }}
    {% for error in form.category_id.errors %}
    <small style="color: red">{{ error }}</small>
    {% endfor %}
   </div>
    {{ form.image.label }}
  <div class="custom-file">
    {{ form.image.label(class="custom-file-label") }}
    {{ form.image(class="custom-file-input") }}
    {% for error in form.image.errors %}
    <small style="color: red">{{ error }}</small>
    {% endfor %}
  </div>
  <div class="form-group mt-3">
        {{ form.submit(class="btn btn-primary btn-lg") }}
    </div>
</form>
</div>
{% endblock %}