{% extends "index_admin.html" %}
{% block content %}
<div class="container">
    {% if message %}
    <p class="alert alert-warning">{{ message }}</p>
    {% endif %}
<h1 class="m-5">Add product</h1>
<form method="POST" enctype="multipart/form-data">
{{ form.csrf_token }}
  <div class="form-group">
    {{ form.name.label }}
    {{ form.name(class="form-control", placeholder="Toilet paper") }}
  </div>
  <div class="form-group">
    {{ form.description.label }}
    {{ form.description(class="form-control", placeholder="Some description here") }}
  </div>
  <div class="form-group">
    {{ form.price.label }}
    {{ form.price(class="form-control", placeholder="777.77") }}
  </div>
  <div class="form-group mb-3">
    {{ form.category_id.label }}
    {{ form.category_id(class="form-control") }}
   </div>
    {{ form.image.label }}
  <div class="custom-file">
    {{ form.image.label(class="custom-file-label") }}
    {{ form.image(class="custom-file-input") }}
  </div>
  <div class="form-group">
        <p> </p>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
</form>
</div>
{% endblock %}