{% extends "index_admin.html" %}
{% block content %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <p class="alert alert-warning">{{ message }}</p>
  {% endfor %}
    <h1 class="m-5">Add category</h1>
    <form method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class="form-control", placeholder="Office") }}
        {% for error in form.name.errors %}
        <small style="color: red">{{ error }}</small>
        {% endfor %}
      </div>
      <div id="form-group mt-3">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
</div>
{% endblock %}