{% extends "index_admin.html" %}
{% block title %}Admin: Add news{% endblock %}

{% block content %}
{% for message in get_flashed_messages()%}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
<div class="container">
    <h1 class="m-5">Add news</h1>
    <form method="post" action="{{url_for('add_news')}}">
        {% for field in form %}
        <div class="form-group">
            {{ field.label(class='control-label') }}
            {{ field(class='form-control') }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}