{% extends "index.html" %}
{% block title %} Cart {% endblock %}

{% block content %}
<script src="https://use.fontawesome.com/c560c025cf.js"></script>
<div class="container">
    <div class="card my-3">
        <table class="table table-striped w-auto table-bordered">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for cart_item in cart_items.values() %}
                <tr>
                <td class="text-center">
                    <img class="img-responsive" src="/static/img/{{cart_item['product_id']}}_thumbnail.jpg" alt="preview" width="120" height="80">
                </td>
                    <td><h4 style="margin-top:20px;" class="product-name">{{cart_item["name"]}}</h4>
                </td>
                    <td><h4 style="margin-top:20px;">₴{{cart_item["price"]}} </h4>
                </td>
                <td>
                    <h4 style="margin-top:20px;"><input type="number" step="1" max="99" min="1" value="{{cart_item['pieces']}}" title="Qty" class="qty" size="4"></h4>
                </td>
                <td>
                    <h4 style="margin-top:20px;">
                    <form method="post">
                        <input type="hidden" name="delete_item" value="{{cart_item["product_id"] }}">
                        <input type="hidden" name="delete_item" value="{{cart_item["product_id"] }}">
                    <button class="btn btn-outline-danger btn-xs">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    </form>
                    </h4>
                </td>
        {% endfor %}
        </tbody>
    </table>
        <!-- END PRODUCT -->
        <div class="card-footer">
            <div class="pull-right" style="margin: 10px">
                <form action="/cart/create_order"  method="post">
                    <button formmethod="post" class="btn btn-danger pull-right" name="Checkout">Checkout</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}