{% extends "index.html" %}
{% block title %} Cart {% endblock %}

{% block content %}
<script src="https://use.fontawesome.com/c560c025cf.js" xmlns="http://www.w3.org/1999/html"></script>
<!-- Breadcrumb -->
<div class="container breadcrumb">
    <p>Breadcrumbs:
        {% for crumb in g.breadcrumbs %}
            <a href="{{ crumb.path }}">{{ crumb.title }}</a>
            {% if not loop.last %}&raquo;{% endif %}
        {% endfor %}
    </p>
</div>
<!-- /Breadcrumb -->
<div class="container">
    <div class="card my-3">
        <table class="table table-striped w-auto table-bordered">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for cart_item in cart_items.values() %}
                <tr>
                <td class="text-center">
                    <img class="img-responsive" src="/static/img/{{cart_item['product_id']}}_thumbnail.jpg" alt="preview" width="120" height="80">
                </td>
                    <td><h4 style="margin-top:20px;"><a style="text-decoration: none;" href="/product/product_description/{{cart_item['product_id']}}">{{cart_item["name"]}}</h4>
                </td>
                    <td><h4 style="margin-top:20px;">₴{{cart_item["price"]}} </h4>
                </td>
                <td>
                    <h4 style="margin-top:20px;">
                        <form method="put">
                            <input type="number" step="1" max="99" min="1" value="{{cart_item['pieces']}}" title="Qty" class="qty" size="4">
                        </form>
                    </h4>
                </td>
                <td>
                    <h4 style="margin-top:20px;">₴{{cart_item['amount']}}</h4>
                </td>
                <td>
                    <h4 style="margin-top:20px;">
                    <form method="post">
                        <input type="hidden" name="delete_item" value="{{cart_item['product_id'] }}"></input>
                        <button class="btn btn-outline-danger btn-xs">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                </form>
                    </h4>
                </td>
        {% endfor %}
            </tr>
        </tbody>
            <tfoot>
                <td colspan="6" class="text-center">
                    <h5>You have ordered
                        <font color="#FF0000">
                            {{items_qty}}
                        </font>
                        item(s) for
                        <font color="#FF0000">
                            ₴{{total_amount}}
                        </font>
                        . Please proceed to checkout</h5>
                </td>
            </tfoot>
    </table>
        <!-- END PRODUCT -->
        <div class="card-footer">
            <div class="pull-right" style="margin: 10px">
                <form action="/cart/create_order"  method="post">
                    <button formmethod="post" class="btn btn-danger pull-right" name="Checkout">Checkout</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}