{% extends "index.html" %}
{% block title %}Categories{% endblock %}
{% block content %}
<div class="container">
{% for message in get_flashed_messages() %}
<p class="alert alert-success">{{ message }}</p>
{% endfor %}

<div class="row my-3">

<div class="col-md-3">
    <h3>Categories:</h3>
    {% for category in categories %}
        <h4 class="my-2"><a style="text-decoration: none;" href="{{ url_for('categories') }}/{{ category.id }}">{{ category.name }}</a></h4>
    {% endfor %}

</div>

<div class="col-md-9">

    <div class="row">

         <table class="table table-striped w-auto table-bordered">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td class="text-center">
                <img class="img-responsive" src="/static/img/{{ product.id }}_thumbnail.jpg" alt="{{ product.name }}" width="120" height="70">
                </td>
                <td><h4 style="margin-top:20px;"><a style="text-decoration: none;" href="/product/product_description/{{product.id}}">{{product.name}}</a></h4></td>
                <td><h4 style="margin-top:20px;">₴{{product.price}}</h4></td>

                <td>
                {% if "user_id" in session %}
                    <div class="col-sm text-center" style="margin-top:10px;">
                    <form method="post">
                    <input type="hidden" name="add_to_cart" value="{{ product.id }}">
                    <button type="submit" class="btn btn-success btn-lg">Add to cart<i class='fas fa-cart-plus'></i></button>
                    </form>
                    </div>
                {% else %}
                    <div class="col-sm text-center" style="margin-top:10px;">
                        <a href="/login" class="btn btn-success btn-lg" role="button" aria-disabled="true">Buy<i class='fas fa-cart-arrow-down'></i></a>
                    </div>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

</div>
</div>
</div>
{% endblock %}