{% extends "index.html" %}
{% block title %}Catalogue{% endblock %}
{% block content %}

<!-- Breadcrumb -->
<div class="container breadcrumb">
    <p>Breadcrumbs:
        {% for crumb in g.breadcrumbs %}
            <a href="{{ crumb.path }}">{{ crumb.title }}</a>
            {% if not loop.last %}&raquo;{% endif %}
        {% endfor %}
    </p>
</div>
<!-- /Breadcrumb -->


<div class="container">
{% for message in get_flashed_messages() %}
<p class="alert alert-success">{{ message }}</p>
{% endfor %}

<div class="row my-3">

<div class="col-md-3">
    <h5>CATEGORIES:</h5>
    <div class="list-group">
    {% for category in categories %}
        <a class="list-group-item list-group-item-action" href="{{ url_for('get_catalogue') }}/{{ category.id }}">{{ category.name }}</a>
    {% endfor %}
    </div>
</div>

<div class="col-md-9">

    <div class="row">

         <table class="table table-striped w-auto table-bordered">
        <thead>
        <tr class="text-center">
            <th>Image</th>
            <th>Product name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr class="text-center">
                <td>
                <img class="img-responsive" src="/static/img/{{ product.id }}_thumbnail.jpg" alt="{{ product.name }}">
                </td>
                <td><h4 style="margin-top:20px;"><a class = "text-secondary" href="/product/product_description/{{product.id}}">{{product.name}}</a></h4></td>
                <td><h4 style="margin-top:20px;">₴{{product.price}}</h4></td>

                <td>
                {% if "user_id" in session %}
                    <div class="col-sm text-center" style="margin-top:10px;">
                    <form method="post">
                    <input type="hidden" name="add_to_cart" value="{{ product.id }}">
                    <button type="submit" class="btn btn-secondary">Add to cart<i class='fas fa-cart-plus'></i></button>
                    </form>
                    </div>
                {% else %}
                    <div class="col-sm text-center" style="margin-top:10px;">
                        <a href="/login" class="btn btn-success btn-lg" role="button" aria-disabled="true">Buy<i class='fas fa-cart-arrow-down'></i></a>
                    </div>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% include 'paging.html' %}
    </div>

</div>
</div>
</div>
{% endblock %}