{% extends "index_admin.html" %}
{% block title %}Admin: Categories list{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
<p class="alert alert-warning">{{ message }}</p>
{% endfor %}
<br>
<div class="container">
    <a href="{{ url_for('add_category') }}"><button type="button" class="btn btn-success">Add new category</button></a>
</div>
<br>
<div class="container">
    <table class="table table-striped w-auto table-bordered">
        <thead>
        <tr>
        <th>Category id</th>
        <th>Category name</th>
        <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
        <tr>
            <td>{{category.id}}</td>
            <td>{{category.name}}</td>
            <td>
                <a href="{{ url_for('edit_category', category_id=category.id) }}">
                    <button type="button" class="btn btn-primary">Update</button></a>
                <a href="{{url_for('confirm_delete_category', category_id=category.id)}}"><button type="button" class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'paging.html' %}
</div>
{% endblock %}