{% extends "index.html" %}
{% block title %}MA Contacts{% endblock %}


{% block content %}
<div class="container card" style="padding-top: 25px">
    <div class="row">
        <div class="col-sm-4">
            <h3>Contact Us</h3>
            <h4>We are great team!</h4>
            <hr>
            <address>
                <strong>Phone:</strong> (063)123-4567
            </address>
        </div>
        <div class="col-sm-8 contact-form">
            <form method="post" class="form" role="form">
                <div class="row">
                    <div class="col-xs-6 col-md-6 form-group required autofocus">
                        {{form.sender(placeholder="Name", class="form-control")}}
                    </div>
                    <div class="col-xs-6 col-md-6 form-group">
                        {{form.e_mail(placeholder="e-mail", class="form-control")}}
                    </div>
                </div>
                <div>
                    {{form.message(placeholder="Please type your message here", class="form-control")}}
                </div>
                <br/>
                <div class="row">
                    <div class="col-xs-12 col-md-12 form-group">
                        {{form.submit(class="btn btn-primary pull-right")}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}