{% extends "index_admin.html" %}
{% block title %}MA SHOP | NEWS{% endblock %}
{% block content %}
<div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages%}
            {% for message in messages %}
                {% if message == "News was successfully deleted from db." %}
                <div class="container">
                    <span class="badge badge-pill badge-success">{{message}}</span>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1 class="m-5">Delete news</h1>

    {% for item in news %}
    <div class="border-top">
        <h3 class="text-center m-3">{{ item.title }}</h3>
        <div class="d-flex flex-row-reverse mb-3">
            <div class="">
                <text class="text-muted">Publication date: {{ item.news_date }}</text>
            </div>
            <div class="mr-3">
                <text class="text-muted">Author: {{ item.first_name + ' ' + item.second_name }}</text>
            </div>
        </div>
        <p>{{ item.post }}</p>
        <div class="d-flex flex-row-reverse mb-3">
            <form method="post" action="{{ url_for('delete_news_id', news_id=item.id) }}">
                <div class="container" style="padding: 0">
                    <button type="submit" class="btn btn-danger pull-left">Delete</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
