{% extends "index_admin.html" %}
{% block title %}Admin: Confirm product deletion{% endblock %}
{% block content %}
<div class="container text-center" >
    <p><h4 style="margin-top:20px;">Do you want to delete product {{product.name}} with id {{product.id}}</h4></p>
    <a href="{{url_for('delete', product_id=product.id)}}"><button type="button" class="btn btn-light">YES</button></a>
    <a href="{{ url_for('products_list') }}"><button type="button" class="btn btn-light">NO</button></a>
</div>
{% endblock %}