{% extends "index_admin.html" %}
{% block title %}Admin: Delete product {% endblock %}
{% block content %}
<div class="container">
    {% for message in get_flashed_messages()%}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    <table class="table table-striped w-auto table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>Product name</th>
            <th>Product price</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{product[0]}}</td>
                <td>{{product[1]}}</td>
                <td>{{product[2]}}</td>
                <td>
                    <form action="{{url_for('delete_confirm', product_id=product[0])}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn-sm btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
