{% extends "index_admin.html" %}
{% block content %}
<div class="container">

    {% for message in get_flashed_messages() %}
      <p class="alert alert-warning">{{ message }}</p>
    {% endfor %}

<form method="POST">
    <div class="form-group">
        <p></p>
        <form action="{{ url_for('edit_category', category_id=category.id) }}" method="post">
                <div class="form-group">
                    {{ form.name.label }}
                    {{ form.name(class='form-control')}}
                </div>
        <button type="submit" class="btn btn-primary btn-lg">Update</button>
        </form>
</form>
</div>

{% endblock %}