{% extends "index.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
{% if message %}
<p class="alert alert-warning">{{ message }}</p>
{% endif %}
<h1 class="m-5">Login</h1>
<form method="post">
  <div class="form-group">
    {{form.email.label}}
    {{form.email(class="form-control", placeholder="JohnSmith@mail.com")}}
  </div>
  <div class="form-group">
    {{form.password.label}}
    {{form.password(class="form-control", placeholder="Your password")}}
  </div>
  <p>{{form.submit(class="btn btn-primary")}}</p>
</form>
</div>
{% endblock %}
