{% extends "index_admin.html" %}
{% block title %}Admin: Manage_orders{% endblock %}
{% block content %}
<script src="https://use.fontawesome.com/c560c025cf.js"></script>
<div class="container">
    <div class="clearfix"></div>
</div>
<div class="container">
    <table class="table table-striped w-auto table-bordered">
        <thead>
        <tr>
            <th>Order id</th>
            <th>User id</th>
            <th>Order date</th>
            <th>Status</th>
            <th>Product id</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for order in all_orders %}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.id_user}}</td>
                <td>{{order.order_date}}</td>
                <td>{{order.status}}</td>
                <td>{{order.id_product}}</td>
                <td>
                    <a href="{{ url_for('update_order', order_id=order.id) }}">
                        <button type="button" class="btn btn-primary">Update</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}