{% extends "index.html" %}
{% block title %}MA SHOP | NEWS{% endblock %}
{% block content %}

    <!-- Breadcrumb -->
    <div class="container breadcrumb">
        <p>Breadcrumbs:
            {% for crumb in g.breadcrumbs %}
                <a href="{{ crumb.path }}">{{ crumb.title }}</a>
                {% if not loop.last %}&raquo;{% endif %}
            {% endfor %}
        </p>
    </div>
    <!-- Breadcrumb -->

<div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages%}
            {% for message in messages %}
                {% if message == "News was successfully added to db." %}
                <div class="container">
                    <span class="badge badge-pill badge-success">{{message}}</span>
                </div>
                {% elif message.find("News wasn\'t added to db.") %}
                <div class="container">
                    <span class="badge badge-pill badge-danger">{{message}}</span>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1 class="text-center mt-3 mb-5"><b>MA SHOP NEWS</b></h1>

    {% for item in news %}
    <div class="border-top">
        <p class="text-center m-3" style="color: #007bff; font-size: 1.5rem;"><b>{{item.title}}</b></p>
        <p>{{item.post}}</p>
        <div class="d-flex flex-row-reverse mb-3">
            <div class="">
                <text class="badge badge-primary">Publication date: {{item.news_date}}</text>
            </div>
            <div class="mr-3">
                <text class="badge badge-success">Author: {{item.first_name + ' ' + item.second_name}}</text>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
