{% extends "index.html" %}
{% block title %}Forget password{% endblock %}

{% block content %}

<!-- Breadcrumb -->
<div class="container breadcrumb">
    <p>Breadcrumbs:
        {% for crumb in g.breadcrumbs %}
            <a href="{{ crumb.path }}">{{ crumb.title }}</a>
            {% if not loop.last %}&raquo;{% endif %}
        {% endfor %}
    </p>
</div>
<!-- /Breadcrumb -->

<div class="container">
  {% if message %}
  <p class="alert alert-warning">{{ message }}</p>
  {% endif %}
  {% for message in get_flashed_messages() %}
      <p class="alert alert-warning">{{ message }}</p>
  {% endfor %}
<h1 class="m-5">Restore password</h1>
    <p>Enter your email and we'll send you link to change password</p><br>
<form method="post">
  <div class="form-group">
    {{form.email.label}}
    {{form.email(class="form-control", placeholder="JohnSmith@mail.com")}}
  </div>
  <p>{{form.submit(class="btn btn-primary")}}</p>
</form>
</div>
{% endblock %}