{% extends 'index.html' %}
{% block title %} MA {{ product.name }} {% endblock %}
{% block content %}

<div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages%}
            {% for message in messages %}
                {% if "successfully" in message %}
                    <div class="container">
                        <p class="alert alert-success">{{message}}</p>
                    </div>
                {%else%}
                    <div class="container">
                        <p class="alert alert-warning">{{message}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container breadcrumb">
        <p>Breadcrumbs:
            <a href="/">Home</a> &raquo;
            <a href="/catalogue/{{ product.category_id }}">{{ product_category }}</a> &raquo;
            <a href="/product/product_description/{{ product.id }}">{{ product.name }}</a>
        </p>
    </div>

    <div class="container">
        <table>
            <tr>
                <td align="left" colspan="2"><h2><b>{{ product.name }}</b>
            </tr>
             <tr>
                 <td><h4 align="left"> <font color="#FF0000"> ₴{{ product.price }}   </font></h4></td>
            <td>
                <!-- ADD TO CART-->
                {% if "user_id" in session %}
                    <div>
                        <form method="post" action="{{ url_for('add_to_cart', product_id=product.id) }}">
                            <input type="hidden" name="add_to_cart">
                            <button type="submit" class="btn btn-success btn-lg" style="float:left">Add to cart <i class='fas fa-cart-plus'></i></button>
                        </form>
                    </div>
                {% else %}
                    <div >
                        <h6 align="center"><a class="text-secondary" href="/login"> Please log in to make orders, rate the product and leave your comments</a></h6>
                    </div>
                {% endif %}
            <!-- END ADD TO CART-->
            </td>
            </tr>

            <tr>
                <td>
                    <img class="img-responsive" src="/static/img/{{ product.id }}.jpg" alt="{{ product.name }}" width="480" height="280">
                </td>
                <td>
                        <h5>Product mark (based on {{ number_of_marks }} ratings):</h5>
                            <p class="badge badge-primary">{{ avg_mark }}</p>
                        <h5>Description:</h5>
                            <p>
                                <i>{{ product.description }}</i>
                            </p>
                       <!-- COMMENT_LIST-->
                        <h5>Comments:</h5>
                        <div class="form-control smooth-scroll" style="height: 100px; overflow-y: scroll;">
                            {% for item in comments_list %}
                                <div class="border-top">
                                    <p><i>{{item.first_name}} on {{item.comment_date}}:</i></p>
                                    <p>{{item.comment_body}}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- END COMMENT_LIST-->
                </td>
            </tr>
            <tr>
                <td><!--MARKS-->
                    <div class="btn-group">
                        {% if 'user_id' in session %}
                            <form method="post" action="{{ url_for('set_product_mark', product_id=product.id)}}">
                                <table style="text-align: center">
                                    <tr>
                                        {% for mark_field in form.mark %}
                                            <th>{{ mark_field }}</th>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        {% for mark_field in form.mark %}
                                            <td>{{ mark_field.label }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td colspan="5">{{ form.submit(class="btn btn-dark pull-right") }}
                                    </tr>
                                </table>
                            </form>
                            {% endif %}
                    </div>
                    <!--END MARKS-->
                </td>
                <td> <!--ADD COMMENT-->
                    <table>
                        <tr>
                            {% if 'user_id' in session %}
                            <form method="POST" action="{{ url_for('add_comment', product_id=product.id)}}">
                                <td>
                                    {{form_c.comment_body(placeholder="Please type you comment here", class="form-control")}}
                                </td>
                                <td>
                                    {{form_c.submit(class="btn btn-dark pull-right")}}
                                </td>
                            </form>
                            {% endif %}
                        </tr>
                    </table>
                </td>
                <!--END ADD COMMENT-->
            </tr>
        </table>
    </div>
</div>
{% endblock %}