{% extends "index.html" %}
{% block content %}
<div class="container breadcrumb">
    <p>Breadcrumbs:
        {% for crumb in g.breadcrumbs %}
            <a href="{{ crumb.path }}">{{ crumb.title }}</a>
            {% if not loop.last %}&raquo;{% endif %}
        {% endfor %}
    </p>
</div>

<div class="container">
{% if message %}
<p class="alert alert-warning">{{ message }}</p>
{% endif %}
<h1 class="m-5">Registration</h1>
<form method="post">
  <div class="form-group">
      {{form.first_name.label}}
      {{form.first_name(class="form-control", placeholder="John")}}
  </div>
    <div class="form-group">
        {{form.second_name.label}}
        {{form.second_name(class="form-control", placeholder="Smith")}}
    </div>
    <div class="form-group">
        {{form.email.label}}
        {{form.email(class="form-control", placeholder="JohnSmith@mail.com")}}
    </div>
  <div class="form-group">
      {{form.password.label}}
      {{form.password(class="form-control", placeholder="Your password")}}
  </div>
    <p>{{form.submit(class="btn btn-primary")}}</p>
</form>
</div>
{% endblock %}