{% extends "index.html" %}
{% block title %}Set new password{% endblock %}

{% block content %}

<div class="container">
  {% if message %}
  <p class="alert alert-warning">{{ message }}</p>
  {% endif %}
  {% for message in get_flashed_messages() %}
      <p class="alert alert-warning">{{ message }}</p>
  {% endfor %}
<h1 class="m-5">Set new password</h1>
<form method="post">
  <div class="form-group">
    {{form.password.label}}
    {{form.password(class="form-control", placeholder="Your new password")}}
  </div>
  <p>{{form.submit(class="btn btn-primary")}}</p>
</form>
</div>
{% endblock %}