{% extends "index_admin.html" %}
{% block title %}Admin: Update order{% endblock %}
{% block content %}
<div class="container">
    <h1 class="m-5">Edit order</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-group">
        {{ form.id_user.label }}
        {{ form.id_user(class="form-control") }}
        {% for error in form.id_user.errors %}
        <small style="color: red">{{ error }}</small>
        {% endfor %}
        </div>
        <div class="form-group">
        {{ form.id_product.label }}
        {{ form.id_product(class="form-control") }}
        {% for error in form.id_product.errors %}
        <small style="color: red">{{ error }}</small>
        {% endfor %}
        </div>
        <div id="form-group mt-3">
        {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}